
@import "../variables.scss";

.projectdetail {
  height: 100vh;
  width: 100vw;
  background: $primarycont;
  display: flex;
  align-items: center;
  justify-content: center;
}



.projectcontainer {
  display: flex;
  text-align: center;
  margin: 10px;
  flex-direction: column;
  background-color: $primary;
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  // margin-bottom: 10px;

  @media (max-width: 1059px) {
    height: 1040px;
  }

  @media (max-width: 709px) {
    height: 1440px;
  }

  h1 {
    text-align: center;
    font-size: 60px;
    padding-top: 60px;
    color: $primarycont;
  }

  .projectcardcontainer {
    margin-left: 20px;
    margin-right: 20px;
    padding: 75px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
  }
}

.projectcard {
  height: 350px;
  width: 300px;
  background-color: $primarycont;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  .imgwrapper {
    padding: 10px;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  p {
    text-align: center;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .projectcardbutton {
    display: flex;
    justify-content: center;
    gap: 20px; 
    padding-top: 15px;


    button {
      background-color: #aac7ff; 
      color: $secondarycont; 
      padding: 10px 25px;
      cursor: pointer;
      border-radius: 30px;
      font-size: 14px;
      border: none;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
  }
}

.projectcard:hover {
  background-color: #ffb4ab;
  transition: 400ms;

  // button{
  //   background-color: #3f2844;
  //   color: $primarycont;
  // }
}

.carouselcs {
  display: flex;
  align-items: center;
  padding-bottom: 110px;
  overflow: hidden;
  height: calc(100vh - 90px);
  gap: 40px;

  p {
    font-size: larger;
    padding-right: 40px;
  }

  .buttoncs {
    padding: 15px 35px;
    border: #dad7cd;
    border-radius: 15px;
    background-color: transparent;
    color: $onsecondarycont;
    background-color: $secondarycont;
    margin-right: 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-weight: 600;
    cursor: pointer;
  }
  .buttoncs:hover {
    color: $secondarycont;
    background-color: $onsecondarycont;
    transition: 400ms;

  }
}
.limitwidth {
  width: 640px;
  padding-left: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
