@use "@material/button/button";
@use "@material/theme/theme";

.projecth1 {
  text-align: center;
  font-size: 60px;
  padding-top: 60px;
}

.projectcard{
  background-color: #84a98c;
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  position: relative;
}

.carouselcs {
  display: flex;
  align-items: center;
  padding-bottom: 110px;
  height: calc(100vh - 90px);
  gap: 40px;

  p {
    font-size: larger;
    padding-right: 40px;
  }

  .buttoncs {
    padding: 15px 35px;
    border: #dad7cd;
    border-radius: 15px;
    background-color: transparent;
    color: #dad7cd;
    background-color: #588157;
    margin-right: 35px;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-weight: 600;
    cursor: pointer;
  }
}
.limitwidth {
  width: 640px;
  padding-left: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
