@use '@material/button/button';
@use '@material/theme/theme';

.carouselcs {
  display: flex;
  align-items: center;
  // justify-content: center;
  //   width: 640px;
  gap: 40px;
  .buttoncs {
    
    // height: 20px;
    // justify-content: center;
    display: flex;
    z-index: 300;
    background-color: #588157;
    
  }
}
.limitwidth {
  width: 640px;
  padding-top: 170px;
  padding-left: 40px; // padding-bottom: 20vh;
  display: flex;
  //   align-items:x
  justify-content: center;
  gap: 40px;
}

// Define the primary color
$primary-color: #588157;

// Import Material components


// Create a theme
.theme {
  --md-sys-color-primary: #{$primary-color};
}

// Apply the theme to the button
.my-button {
  @include button.core-styles;

  background-color: var(--md-sys-color-primary);
  color: #fff; // Set the text color to white for contrast
  border: none;
  border-radius: 4px; // Add some border-radius if needed
  padding: 8px 16px; // Adjust padding as necessary
  font-size: 14px; // Adjust font size as necessary

  &:hover {
    background-color: darken($primary-color, 10%);
  }

  &:active {
    background-color: darken($primary-color, 15%);
  }

  &:focus {
    outline: 2px solid lighten($primary-color, 20%);
  }
}
