@import '../variables.scss';

.hero {
  overflow: hidden;
  background-color: $primary;
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  position: relative;

  .maincontent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    height: inherit;
    padding: 100px;
    // padding-top: 140px;

    .textContainer {
      padding-top: 100px;
      height: 100%;
      z-index: 1;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;

      h2 {
        font-size: 30px;
        letter-spacing: 10px;
        color: $primarycont;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      }

      h1 {
        font-size: 88px;
        color: $primarycont;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      }

      .buttons {
        z-index: 99;

        button {
          padding: 20px;
          border: none;
          border-radius: 15px;
          background-color: transparent;
          // color: #50606e;
          color: $secondarycont;
          background-color: $secondary;
          margin-right: 35px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          font-weight: 600;
          cursor: pointer;
        }

        button:hover {
          color: $secondary;
          background-color: $secondarycont;
          transition: 400ms;
        }
      }

      //scroll image
      img {
        width: 50px;
      }
    }

    .imageContainer {
      // padding-bottom: 100px;
      display: flex;
      align-items: center;
      z-index: 99;
      gap: 50px;

      img {
        height: 150px;
        width: 150px;
        
      }

      .githubhero {
        height: 115px;
        width: 115px;
      }

      @media (max-width: 1024px) {
        // Styles for tablets (max-width: 1024px)
        img {
          height: 100px;
          width: 100px;
        }

        .githubhero {
          height: 75px;
          width: 75px;
        }
      }

      @media (max-width: 450px) {
        // Styles for mobile (max-width: 768px)
        img {
          height: 70px;
          width: 70px;
        }

        .githubhero {
          height: 75px;
          width: 75px;
        }
      }
    }
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -120px;
    white-space: nowrap;
    color: #ffffff3b;
    width: 50%;
    padding-bottom: 20px;
    z-index: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
}


