@import "../variables.scss";

.skillcontainer {
//   text-align: center;
  overflow: hidden;
  background-color: $primary;
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;

  h1 {
    padding-top: 10vh;
    text-align: center;
    font-size: xx-large;
    color: $primarycont;
  }
}
