.aboutWrapper {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Vertical alignment */
  align-items: center; /* Horizontal alignment */
  /* Full viewport height */
  text-align: center; /* Center text within the container */
  padding: 15vh;

  h1 {
    font-size: 125px;
    text-align: center;
  }

  #para {
    padding: 10vh;
    font-size: 25px;
    text-align: center;
  }
}
