.contactclass{
    // overflow: hidden;
  background-color: #84a98c;
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
//   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  position: relative;
  text-align: center;
  font-size: 60px;
  padding-top: 60px;
}