// $primary: #645495;
// $primarycont: #e8ddff;
// $secondarycont: #423c55;
// $secondary: #cbc2e2;
// $onsecondary: #332d46;
// $onsecondarycont: #d9cff0;
// $tertiary: #64597c;
// $tertiarycont: #eaddff;
// $ontertiary: #ffffff;
// $ontertiarycont: #201635;



$primarycont: #ffdced;
$primary: #f2a4d2;
$secondarycont: #423c55;
$secondary: #cbc2e2;
$onsecondary: #332d46;
$onsecondarycont: #d9cff0;
$tertiary: #64597c;
$tertiarycont: #eaddff;
$ontertiary: #ffffff;
$ontertiarycont: #201635;

